body {
  background-image: url(./background.jpg);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}

nav, h1 {
  color: white;
}

h4 {
  background: white;
}

.form {
  background-color: rgba(255, 255, 255, .6);
}

.auth-form {
  background-color: rgb(255, 255, 255)
}

.billist, .format, .monthlyCard {
  text-align: center;
}

.remaining{
  color: green;
  font-size: 32px;
}
