body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.alert {
  margin: 30px;
}

.format, .billist, .monthlyCard {
  text-align: center;
}

.remaining{
  color: green;
  font-size: 32px;
}
